<!-- views/partials/footer.ejs -->

<footer>
    <img src="img/logopanzah.png">

    <a href="#">Quiero Comer</a>
    <a href="#">Quiero Vender</a>
    <a href="#">Escríbenos</a>

    <div>
        <p>© Panza 2016</p>
        <a href="#">Términos y condiciones</a>
        <a href="#">Aviso de privacidad</a>
    </div>

</footer>
