<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->



    <title>Panza | La mejor comida de la ciudad</title>
    <!-- Latest compiled and minified CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/panza.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Playfair+Display" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="by-square not-mobile vertical-text">
        <img class="vertical-logo" src="img/logopanza.png"/>
    </div>

    <!-- <div class="masthead">

    </div> -->
    <div class="jumbotron main">
        <nav>
            <ul class="nav nav-justified">
                <!-- <li><a href="#">¿Qué hacemos?</a></li> -->
                <li><a href="#">Menú del día</a></li>
                <li><a href="#">Comunidad</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <div class="main-text">
            <h1>Panza llena, corazón contento.</h1>
            <p class="lead">Descubre las mejores experiencias gastronómicas de la ciudad <a class="btn btn-lg btn-success purple-btn main-btn" href="#" role="button">Ver Menú</a></p>
        </div>
    </div>

    <div class="overlay"></div>



    <div class="what-we-do">
        <h2>¿Qué hacemos?</h2>
        <p class="lead we-do">
            Reunimos a <strong>las propuestas culinarias más emocionantes</strong> de la ciudad en el mismo lugar
            para que tú puedas ordenar con confianza <em>productos de la mejor calidad</em>.
        </p>
    </div>

    <hr class="featurette-divider">

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <p class="how-it">Seleccionamos múltiples productos excelentes y los ponemos en línea</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <p class="how-it">Tú descubres los productos que más te gusten y los pides a domicilio o para recoger con el proveedor</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <p class="how-it">Fomentamos el consumo local y mejoramos nuestras comunidades</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Crema de Avellanas <span class="text-muted">Nuti Nutz</span></h2>
          <p class="lead">Exquisita crema en un empaque de 200g</p>
          <h3>$120 MXN</h3>
          <!-- <a class="btn btn-lg btn-success purple-btn buy-btn" href="#" role="button">Quiero</a> -->
          <form action="/your-server-side-code" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_VniGdvrGKO0Gbmz6hnGAxOpC"
            data-amount="999"
            data-name="Casero"
            data-description="Widget"
            data-image="https://s3.amazonaws.com/stripe-uploads/acct_14l8SZCaM077rcGpmerchant-icon-1464792833374-stripe.jpg"
            data-locale="auto"
            data-currency="mxn"
            data-label="Ordernar">
          </script>
        </form>
        </div>
        <div class="col-md-5" style="height: 500px; overflow: hidden;">
          <img class="featurette-image img-responsive center-block" alt="Crema de Avellanas Nuti Nutz" src="img/nuti.png" style="height: 100%">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Crema de cacahuate <span class="text-muted">Naughty Butters</span></h2>
          <p class="lead">Exquisita crema en un empaque de 230g</p>
          <h3>$80 MXN</h3>
          <!-- <a class="btn btn-lg btn-success purple-btn buy-btn" href="#" role="button">Quiero</a> -->
          <form action="/your-server-side-code" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_VniGdvrGKO0Gbmz6hnGAxOpC"
            data-amount="999"
            data-name="Casero"
            data-description="Widget"
            data-image="https://s3.amazonaws.com/stripe-uploads/acct_14l8SZCaM077rcGpmerchant-icon-1464792833374-stripe.jpg"
            data-locale="auto"
            data-currency="mxn"
            data-label="Ordernar">
          </script>
        </form>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NzhkNmEyYzc1IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU3OGQ2YTJjNzUiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTg1LjEyNSIgeT0iMjYxLjEiPjUwMHg1MDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Pizzas <span class="text-muted">Las Musas</span></h2>
          <p class="lead">Pizzas con masa recién hecha y una calidad increíble</p>
          <h3>$180 MXN</h3>
          <!-- <a class="btn btn-lg btn-success purple-btn buy-btn" href="#" role="button">Quiero</a> -->
          <form action="/your-server-side-code" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_VniGdvrGKO0Gbmz6hnGAxOpC"
            data-amount="999"
            data-name="Casero"
            data-description="Widget"
            data-image="https://s3.amazonaws.com/stripe-uploads/acct_14l8SZCaM077rcGpmerchant-icon-1464792833374-stripe.jpg"
            data-locale="auto"
            data-currency="mxn"
            data-label="Ordernar">
          </script>
        </form>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NzhkNjlmN2Q3IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU3OGQ2OWY3ZDciPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTg1LjEyNSIgeT0iMjYxLjEiPjUwMHg1MDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" data-holder-rendered="true">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="community">
          <h2>Nuestros increíbles productores</h2>
          <br>
          <br>

          <div class="row">
            <div class="col-lg-3">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->

      </div>


      <!-- /END THE FEATURETTES -->
      <hr class="featurette-divider">


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Ir hasta arriba</a></p>
        <p>© 2016 Panza. · <a href="#">Privacidad</a> · <a href="#">Términos y Condiciones</a></p>
      </footer>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script>
        $('.by-square').affix({
          offset: {
            top: -10,
            bottom: function () {
              return (this.bottom = $('.footer').outerHeight(true))
            }
          }
        })
        $(window).scroll(function(){
           var height = $(this).scrollTop();
           if (height > 225){
             $(".vertical-logo").css("background-color", "transparent");
           }
           else{
              $(".vertical-logo").css("background-color", "white");
           }
        });
    </script>

  </body>
</html>
