<!-- views/pages/landing.ejs -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="css/landing.css">
    </head>
    <body>

        <div class="container-fluid">

            <section class="hasta-arriba">
                <img src="img/logopanza.png"/>

                <nav>
                    <ul>
                        <li>¿Qué hacemos?</li>
                        <li>Productos destacados</li>
                        <li>Nuestra Comunidad</li>
                        <li>Contacto</li>
                    </ul>
                </nav>

                <div class="hero">
                    <h1>Panza llena, corazón contento</h1>
                    <small>Descubre las mejores experiencias culinarias de tu ciudad</small>
                    <a href="#">Probar Beta</a>
                </div>
            </section>

            <section class="que-hacemos">
                <h2>¿Qué hacemos?</h2>
                <p>Reunimos a pequeños productores, proyectos gastronómicos emergentes y restaurantes con las propuestas culinarias
                más interesantes de la ciudad</p>

                <h3>Así funciona</h3>

                <p>Seleccionamos productos y platillos increíbles</p>

                <p>Compras en línea</p>

                <p>Te entregamos o los recoges en locación</p>

            </section>

            <section class="newsletter">
                <p>Lo mejor para tu panza en tu inbox</p>
                <input type="text" name="mail" placeholder="tu@mail.com">
                <button>Suscríbete</button>
            </section>

            <section class="nuestra-comunidad">
                <h2>Nuestra comunidad</h2>
                <p>Productores locales, empresas comprometidas con el bienestar</p>

                <img src="nuti.png">
                <img src="nuti.png">
                <img src="nuti.png">
                <img src="nuti.png">

            </section>

            <section class="unirse">
                <p>¿Quieres vender con nosotros?</p>
                <button>Escríbenos</button>
            </section>


            <% include ../partials/footer %>


        </div>


    </body>
</html>
