<!-- views/pages/business.ejs -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="css/business.css">
    </head>
    <body>
        <section class="cabecera">
            <img src="img/logopanzah.png" class="logo"/>
        </section>

        <section class="striper container">

            <div class="welcome">
                <h1>¡Todo listo!</h1>
                <h2>Estamos listos para vender</h2>
                <h2 class="emoji">🎉</h2>
                <!-- <p>El token es: <br> <%= stripeToken %><p> -->
            </div>

            <div class="stripe-y-ya">
                <!-- <a href="#" class="btn btn-default boton"><span>Vender mi primer producto</span></a> -->
            </div>

        </section>

    </body>
</html>
