<!-- views/pages/stripe-error.ejs -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="css/business.css">
    </head>
    <body>
        <section class="cabecera">
            <img src="img/logopanzah.png" class="logo"/>
        </section>

        <section class="striper container">

            <div class="welcome">
                <h1>Hubo un error</h1>
                <h2>Algo falló con Stripe</h2>
                <h2 class="emoji">🤔</h2>
            </div>

            <div class="stripe-y-ya">
                <a href="#" class="btn btn-default boton"><span>Pedir Ayuda</span></a>
            </div>

        </section>

    </body>
</html>
